<h1>About</h1>
<p>This is an MVP version of a Coding Log based off from a Udemy tutorial.</p>

<ul>
	<li>For some weird reason, the css/style.css isn't consistent throughout the dynamic pages. I think it's BECAUSE we're working with dynamic pages here. I don't know why, but setting the right routes might fix the problem. Partials don't help.</li>

</ul>