<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Keep track of your daily coding.</p>
  <a href="/timeCoded/add" class="btn btn-dark btn-lg">Coded today? Record it here.</a>
</div>